@inherits LayoutComponentBase

<main>
    <article>
        @Body
    </article>
    <footer>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </footer>
</main>
